@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
body {
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: aliceblue;
  padding: 25px;
}
section {
  display: flexbox;
  flex-direction: row;
  text-align: center;
  padding: 50px;
}
footer {
  padding: 10px;
  background-color: rgb(228, 220, 220);
}
.footer {
  margin-left: 70rem;
}
.fa {
  padding: 10px;
  font-size: 10rem;
  width: 30px;
  text-align: left;
  text-decoration: none;
  margin-top: 3px;
}

.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  color: black;
  font-size: 10rem;
}
.fa-instagram {
  color: black;
}
.fa-twitter {
  color: black;
}
